/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Application{
	skinClass:ClassReference("skins.ApplicationSkinBlue")
}

.fliterComboBox{
	arrowButtonWidth: 18;
	/*	cornerRadius: 5; */
	/*	disabledSkin: null
	downSkin: null */
	dropdownStyleName: "comboDropdown";
	/*	editableDisabledSkin: null
	editableDownSkin: null
	editableOverSkin: null */
	editableSkin: ClassReference("mx.skins.spark.EditableComboBoxSkin");
	/*	editableUpSkin: null
	fontWeight: "bold"; */
	leading: 0;
	/*	overSkin: null */
	paddingBottom: -2;
	paddingLeft: 5;
	paddingRight: 5;
	paddingTop: -1;
	skin: ClassReference("mx.skins.spark.ComboBoxSkin");
	/*	upSkin: null */
}

global
{
	font-weight: normal;
	font-family:宋体;
}

.textStyle1{
	color:#555555;
	fontSize:12;
}

.textStyle2{
	color:#6a7987;
	fontSize:12;
}

.textStyle3{
	color:#405d6a;
	fontSize:12;
}

.menuBtn{
	fontSize:14;
	skinClass:ClassReference('skins.menuBtnSkin');
}

s|Form s|FormItem{
	textAlign:right;
}

s|Form s|FormItem s|TextInput{
	textAlign:left;
}

s|Form s|FormItem s|DropDownList{
	textAlign:left;
}

s|Form s|FormItem s|TextArea{
	textAlign:left;
}

s|Form s|FormItem mx|DateField{
	textAlign:left;
}

mx|ToolTip{
	font-size:12px;
	color:#000000;
	cornerRadius:10;
}

.userinfoclass{
	skinClass:ClassReference("skins.topLinksBoxSkin");
}
.statusbar{
	skinClass:ClassReference("skins.locGroupSkin");
}

.btnTuPian{
	skinClass:ClassReference("skins.BtnTuPianSkin");
}
.btnWenJian{
	skinClass:ClassReference("skins.BtnWenJianSkin");
}
.btnShangChuan{
	skinClass:ClassReference("skins.BtnShangChuanSkin");
}
.btnChat2{
	skinClass:ClassReference("skins.Chat2BtnSkin");

}
.btnChat{
	skinClass:ClassReference("skins.ChatBtnSkin");

}

.customBorderContainer{
	skinClass: ClassReference("skins.contentBoxSkin");
}

.paopaonotify{
	skinClass: ClassReference("skins.PaoPaoSkin");
}


.orgchatlist{
	skinClass: ClassReference("skins.BtnChatBarSkin");
}

.btnRight{
	skinClass: ClassReference("skins.RightBtnSkin");
}

.weeklabel{
	fontSize: 18px;
	textAlign: center;
	verticalAlign: middle;

}
s|BorderContainer{
	backgroundAlpha: 0;
	borderVisible: false;
}
.btnSetting{
	skinClass: ClassReference("skins.BtnSettingSkin");;
}
.btnAdd{
	skinClass: ClassReference("skins.BtnAddSkin");
}
.btnDel{
	skinClass: ClassReference("skins.BtnDelSkin");
}
.btnOk{
	skinClass: ClassReference("skins.BtnOkSkin");
}
.btnRefresh{
	skinClass: ClassReference("skins.BtnRefreshSkin");
}

.notifylink{
	icon: Embed(source="assets/logo_icon2.png");
	color:#6a7987;
	fontSize:12;
}